@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green-text: #27300f;
$orange-text: #d26a22;
$font-jost:'Jost', sans-serif;
$font-cormorant:'Cormorant', serif;

html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: $font-jost;
    color: $green-text;
}

.header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 15px 0 15px;
    display: flex;
    gap: 11.9rem;
    align-items: center;
    &__nav{
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    gap: 4.8rem;
    }
    &__link{
        font-weight: 400;
        color: $green-text;
        opacity: 0.9;
        text-decoration:none;
        transition: 0.3s;
        &_active{
            color: $orange_text;
        }
        &:hover {
            color:$orange_text;
        }
    }
    &__cart{
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 100%;
    margin-left: 7.76rem;
    cursor: pointer;
    position: relative;
    background-color: $orange-text;
    transition: 0.2s;
    &:hover{
        background-color: $green-text;
    }
    }
    &__tel{
        color: $green-text;
        font-weight: 500;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 12.7rem;
        &:hover {
            color:$orange_text;
        }
    }
    &__counter{
        color: white;
        font-size: .8rem;
        position: absolute;
        top: .6rem;
        right: 0.7rem;
    }
    &__TelAndCart{
        display: flex;
        align-items: center;
    }
}
.logo{
background-image: url(../images/logo.svg);
background-repeat: no-repeat;
background-size: cover;
width: 12rem;
height: 3.2rem;
}
.main{
    background-image: url(../images/_background_1_screen.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    &_images{
        z-index: -1;
    }
    &__plate{
        box-shadow: 32px 40px 63px -31px rgba(39 48 15 / 65%); 
        border-radius: 100%;
    }
    &__item{
        margin-left: 12rem;
        max-width: 378px;
        margin-top: 6rem;
    }
    &__link{
        margin-top: 5.3rem;
    }
    &__flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 181px;
    }
    &__cover{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 763px;
        height: 763px;
        border: 1px solid rgba($green-text, .4);
        border-radius: 100%;
        margin-top: 0.6rem;
        position: relative;
    }
    &__line{
        border: 1px solid rgba($green-text, .4);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 655px;
        height: 655px;
    }
    &__btn{
        padding: 0;
        cursor: pointer;
        position: absolute;
        color: $green-text;
        text-align: left;
        border: none;
        background-color: transparent;
        &:hover{
            &::before{
                background-color: $orange-text;
                box-shadow: 0 0 0 4px white, 0 0 0 5px $orange-text;
            }
        }
        &::before{
            content: '';
            width: 11px;
            height: 11px;
            background-color: $green-text;
            box-shadow: 0 0 0 4px white, 0 0 0 5px $green-text;
            border-radius: 100%;
            position: absolute;
            transition: 0.3s;
        }
        &_1{    
            top: 45px;
            line-height: 2.4rem;
            left: 64px;
            &::before{
                top: 25px;
                right: -35px;
            }
        }
        &_2{
            top: 193px;
            line-height: 2.4rem;
            right: 2px;
            &::before{
                bottom: 17px;
                right: 89px;
            }
        }
        &_3{
            line-height: 2.4rem;
            bottom: -50px;
            left: 462px;
            &::before{
                top: -21px;
                left: 13px;
            }
        }
    }
    &__food{
        display: block;
        color: rgba($green-text, .8);
    }
    &__tomato{
        position: absolute;
        bottom: -30px;
        right: 82px;
    }
    &__beans{
        position: absolute;
        bottom: 7px;
        left: -39px;
    }
    &__avocado{
        position: absolute;
        top: 48px;
        right: -53px;
    }
    &__cucumber{
        position: absolute;
        top: -1px;
        left: 651px;
    }
    &__pepper{
        position: absolute;
        left: -1px;
        top: 399px;
    }
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 4rem 15px;
}
.title{
    font-family: $font-cormorant;
    font-weight: 900;
    font-size: 8rem;
    margin: 0;
    margin-top: 4.5rem;
    line-height: 8rem;
    &_block{
        .title__span{
            display: block;
        }
    }
    &__point{
        font-style: italic;
    }
}
.description{
    margin: 0;
    margin-top: 6.2rem;
    line-height: 2.7rem;
    &_size_s{
        font-size: 1.8rem;
    }
    &_size_m{
        font-size: 2.4rem;
        max-width: 68.4rem;
        line-height: 3.6rem;
        margin-top: 5.8rem;
    }
}
.link{
    color: white;
    text-transform: uppercase;
    padding: 2.6rem 4.2rem 2.2rem 4.3rem;
    letter-spacing: 0.13rem;
    background-color: $orange-text;
    box-shadow: 0 1rem 1.1rem .2rem rgba(207, 92, 13, 0.2);
    border-radius: 3.8rem;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    &:hover{
        background-color: $green-text;
    }
}
.offer{
    padding-top: 8.1rem;
    background-image: url(../images/_background_2_sreen.png);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    &__slider{
        overflow: hidden;
        padding-top: 9.6rem;
    }
}
.swiper{
    overflow: initial;
    &-slide{
        border: 1px solid rgba($color: $green-text, $alpha: .4);
        padding: 2px;
        border-radius: 2rem;
        height: 515px;
        max-width: 462px;
        cursor: pointer;
        &:first-child{
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/bottle-of-milk-isolated-on-white-background-P59345R.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(2){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/coils-of-dried-italian-pasta-or-noodles-on-white-QFT6G6P.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(3){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/steaks-raw-P8WR9SE.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(4){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/bottle-of-milk-isolated-on-white-background-P59345R.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(5){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/coils-of-dried-italian-pasta-or-noodles-on-white-QFT6G6P.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(6){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/steaks-raw-P8WR9SE.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(7){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/bottle-of-milk-isolated-on-white-background-P59345R.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(8){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/coils-of-dried-italian-pasta-or-noodles-on-white-QFT6G6P.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &:nth-child(9){
            position: relative;
            &::after{
                content: "";
                background-image: url(../images/steaks-raw-P8WR9SE.png);
                background-size: cover;
                border-radius: 2rem;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: -1; 
            }
        }
        &__text{
            max-width: 26.1rem;
            opacity: 0;
            font-size: 16px;
            font-weight: 400;
            padding-top: 8px;
            padding-left: 38px;
            line-height: 24px;
            display: inline-block;
            transition: 1s;
            margin-top: 50px;
        }
        &__link{
            opacity: 0;
            font-size: 16px;
            font-weight: 500;
            letter-spacing: 1.32px;
            transition: 1s;
            display: inline-block;
            padding: 25px 0 0 87px;
            text-transform: uppercase;
            color: $green-text;
            text-decoration: none;
            position: relative;
            &::before{
                content: "";
                background-image: url(../images/plus.svg);
                left: 3.6rem;
                bottom: -0.6rem;
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                padding: 15px;
                border-radius: 100%;
                border: 1px solid $green-text;
            }
        }
        &__title{
            font-size: 30px;
            font-weight: 700;
            color: $green-text;
            margin-top: 451px;
            padding-left: 42px;
            font-family: $font-cormorant;
            transition: 1s;
        }
        &:hover{
            border: 3px solid rgba($color: $green-text, $alpha: .4);
            padding: 0;
            .swiper-slide__text{
                display: inline-block;
                opacity: 0.7;
                margin-top: -14px;
            }
            .swiper-slide__link{
                display: inline-block;
                opacity: 0.8;
                &:hover{
                    opacity: 1;
                }
            }
            .swiper-slide__title{
                margin-top: 210px;
                padding-left: 38px;
            }
            &::after{
                opacity: 0.55;
            }
        }
    }
    &-pagination{
        display: none;
    }
    &-button-next, &-button-prev{
        top: -59px;
        right: 5px;
        opacity: 0.4;
        width: calc(var(--swiper-navigation-size)/ 21 * 1);
        &:hover{
            opacity: 1;
        }
        &::after{
           color: $green-text;
           font-size: 22px;
        }
    }
    &-button-prev{
        left: inherit;
        right: 84px;
    }
}
.info{
    padding-top: 40px;
    padding-left: 12px;
    letter-spacing: .8px;
    .description{
        width: 579px;
        padding: 31px 0 0 114px;
        line-height: 27px;
        letter-spacing: normal;
    }
    .main__flex{
        gap: 27.3rem;
        align-items: flex-end;
        justify-content: inherit;
    }
    &__links{
        display: flex;
        gap: 8.6rem;
        list-style: none;
        margin: 0;
        margin-bottom: -3px;
        padding: 0;
        li{
            &:last-child{
            margin-left: 1.6rem;
            } 
            &:nth-child(2) .info__link::after{
                right: 8px;
                background-image: url(../images/traditional.png);
            }
            &:nth-child(3) .info__link::after{
                right: -18px;
                background-image: url(../images/good.png);
            }
        }
    }
    &__link{
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        font-family: $font-cormorant;
        margin: 0;
        letter-spacing: normal;
        margin-bottom: -2px;
        position: relative;
        text-transform: none;
        text-decoration: none;
        color: $green-text;
        &:hover{
            &::after{
                border: 1px solid $green-text;
            }
        }
        &::after{
            content: "";
            background-image: url(../images/fruits.png);
            background-repeat: no-repeat;
            background-position: center;
            color: $orange-text;
            position: absolute;
            top: -102px;
            right: 4px;
            border: 1px solid rgba($green-text, .4);
            border-radius: 100%;
            padding: 43.5px;
            transition: 0.3s;
        }
    }
}